.solution-explore {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 274px 1fr 1fr;
  column-gap: 32px;
  align-items: center;
  justify-items: stretch;

  @include tablet-down {
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-2;
  }

  @include sp {
    grid-template-columns: 1fr;
  }

  &_heading {
    @include tablet-down {
      grid-column: 1 / -1;
      margin-bottom: $spacing-3;
    }

    @include sp {
      margin-bottom: $spacing-1;

      & > span {
        display: block;
        text-align: center;
      }
    }
  }

  &_item {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    background-color: $neutral-100;
    border-radius: $radius-md;

    img {
      width: 150px;
      height: auto;

      @include tablet-down {
        height: 200px;
        object-fit: cover;
      }

      @include sp {
        width: auto;
        height: 140px;
      }
    }

    & > div {
      padding: $spacing-3;

      :global {
        .ant-typography-secondary {
          @include tablet-down {
            font-size: 14px;
          }
        }
      }

      @include tablet-down {
        padding: $spacing-2 0 $spacing-2 $spacing-2;
      }

      @include sp {
        row-gap: 4px !important;
      }
    }
  }
}
