.unique-value {
  &_inner {
    @include sp {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }

  i {
    width: $spacing-4;
    height: $spacing-4;
  }

  &_img {
    width: 580px;
    border-radius: $radius-md;

    @include tablet-down {
      width: 360px;
      height: 360px;
    }

    @include sp {
      width: 100%;
      height: auto;
    }
  }

  &_content {
    display: flex;
    column-gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;

    @include tablet-down {
      row-gap: $spacing-5;
      justify-content: flex-start;
      margin-top: 40px;
    }

    @include sp {
      justify-content: center;
      order: 1;
      margin-top: 0;
    }
  }

  &_text {
    @include sp {
      order: 2;
    }
  }

  &_detail {
    display: inline-flex;
    flex-direction: column;
    row-gap: 16px;

    @include tablet-down {
      row-gap: 12px;
    }

    @include sp {
      order: 3;
    }

    :global {
      .flex {
        font-size: 18px;
        font-weight: 600;

        @include tablet-down {
          font-size: 14px;

          i {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
