.discover-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-6;
  text-align: center;
  background-color: $green-100;
  border-radius: $radius-md;

  @include sp {
    padding: $spacing-4;

    a {
      width: 100%;
    }
  }

  &--product {
    @include sp {
      padding: $spacing-3;
    }
  }

  &_button {
    margin-top: $spacing-6;

    @include tablet-down {
      margin-top: $spacing-5;
    }

    @include sp {
      width: 100%;
      margin-top: $spacing-3;
    }
  }
}
