/* stylelint-disable scss/comment-no-empty */

$black: black;

// Green
$green-100: #ccf5de;
$green-200: #88d5a9;
$green-300: #5bc086;
$green-400: #2dab63;
$green-500: #009640;
$green-600: #007833;
$green-700: #005a26;
$green-800: #003c1a;
$green-900: #001e0d;

// Red
$red-100: #fee4e2;
$red-200: #fecdca;
$red-600: #d92d20;
$red-700: #b42318;

// Blue
$blue-100: #d1e0ff;
$blue-200: #cee2ff;
$blue-500: #2970ff;
$blue-700: #004eeb;

// Yellow
$yellow-100: #fef7c3;
$yellow-200: #feee95;
$yellow-500: #eaaa08;
$yellow-700: #a15c07;

// Violet
$violet-100: #f4ebff;
$violet-500: #7f56d9;
$violet-700: #53389e;

// Neutral
$neutral-0: white;
$neutral-100: #f2f4f7;
$neutral-200: #eaecf0;
$neutral-300: #d0d5dd;
$neutral-400: #98a2b3;
$neutral-600: #475467;
$neutral-700: #344054;
$neutral-900: #101828;

// Light Green
$light-green-secondary: #cde762;
$info-base: #0b70fe;

//  Background:
$bg-dark: #142226;
$bg-white: white;

/* variables */
$shadow-md: 0 4px 8px -2px rgb(16 24 40 / 15%), 0 2px 4px -2px rgb(16 24 40 / 10%);
$shadow-lg: 0 12px 16px -4px rgb(16 24 40 / 8%), 0 4px 6px -2px rgb(16 24 40 / 3%);
$shadow-xl: 0 20px 24px -4px rgb(16 24 40 / 8%), 0 8px 8px -4px rgb(16 24 40 / 3%);
$shadow-2xl: 0 24px 48px -12px rgb(16 24 40 / 18%);
$shadow-3xl: 0 32px 64px -12px rgb(16 24 40 / 14%);
