/* constants */
$header-height-pc: 80px;
$header-height-tablet: 64px;
$header-height-mobile: 56px;
$radius-md: 16px;
$radius-sm: 8px;
$container-pc: 1192px;
$container-tablet: 788px;
$container-tablet-down: 448px;

/* stylelint-disable-next-line CssSyntaxError */
// break point resources
$breakpoint-sp: 751px;
$breakpoint-tb: 992px;
$breakpoint-pc: 1440px;
$breakpoint-stand: 1272px;
$delta: 0.1;

/* Icons */
$icon-shapes: (
  'zoom-in',
  'zoom-out',
  'android',
  'apple',
  'atm',
  'calendar',
  'check',
  'check-circle',
  'check-circle-solid',
  'chevron-down',
  'chevron-left',
  'chevron-right',
  'chevron-up',
  'clock',
  'close',
  'cloud',
  'credit-card',
  'delete',
  'dollar',
  'dollar-off',
  'down',
  'error',
  'facebook',
  'face-dissatisfied',
  'face-satisfied',
  'left',
  'headset',
  'home',
  'info',
  'instagram',
  'light-bulb',
  'light-bulb-2',
  'link',
  'linkedin',
  'list',
  'location',
  'mail',
  'map',
  'menu',
  'minus',
  'minus-circle',
  'money',
  'paid',
  'phone',
  'pie-chart',
  'plus',
  'plus-circle',
  'point-of-sale',
  'quick',
  'right',
  'search',
  'shield-fill',
  'shield-line',
  'star-filled',
  'store',
  'support',
  'tag',
  'thumb-down',
  'thumb-up',
  'up',
  'verified',
  'windows',
  'waving-hand',
  'verified-fill',
  'account-balance-wallet',
  'contactless',
  'inventory',
  'library-add-check',
  'list-alt',
  'local-shipping',
  'loyalty',
  'manage-accounts',
  'phone-iphone',
  'qr-code',
  'verified-user',
  'wallet'
);
