@import './utils';


body {
  min-height: fill-available;
  overflow-x: hidden;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */

  ::selection {
    background-color: $green-500;
  }

  color: #101828;

  a {
    text-decoration: none;
  }
}

.ant-typography[color='white'] {
  color: $neutral-0 !important;
}


.stroke-text {
  -webkit-text-stroke: 5px transparent;
}