$spacing-unit: 8px;
$spacing-1: $spacing-unit;
$spacing-2: $spacing-unit * 2;
$spacing-3: $spacing-unit * 3;
$spacing-4: $spacing-unit * 4;
$spacing-5: $spacing-unit * 5;
$spacing-6: $spacing-unit * 6;
$spacing-10: $spacing-unit * 10;
