.detail-solution {
  visibility: visible;

  &_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    column-gap: 32px;
    align-items: flex-start;
    margin-top: $spacing-10;

    @include tablet-down {
      margin-top: $spacing-5;
    }

    @include sp {
      grid-template-columns: 1fr;
      margin-top: $spacing-4;
      gap: 24px;
    }
  }

  &--product {
    h3 {
      @include sp {
        text-align: start !important;
      }
    }
  }

  &_item {
    display: grid;
    grid-template-columns: 1fr;

    @include sp {
      grid-template-columns: auto auto;
      gap: 8px;

      &+& {
        margin-top: 24px;
      }


    }
  }

  &_title {
    margin-block: 24px;

    @include tablet-down {
      margin-block: 20px;
      font-size: 18px !important;

      &~span {
        font-size: 14px;
      }
    }

    @include sp {
      margin-block: 0;
    }
  }
}