.blogs {
  &_list {
    @include container-tablet;

    min-height: 200px;
    margin-top: 64px;

    @include tablet-down {
      margin-top: 48px;
    }

    @include sp {
      margin-top: 24px;
    }

    a {
      display: block;

      &:not(:first-child) {
        margin-top: 48px;

        @include tablet-down {
          margin-top: 32px;
        }
      }
    }
  }

  &_item {
    display: flex;
    column-gap: 24px;

    img {
      min-width: 320px;
      object-fit: cover;
    }

    @include sp {
      flex-direction: column;
      row-gap: 8px;

      img {
        width: 393px;
      }
    }
  }

  &_item-author {
    @include sp-up {
      margin-top: 16px;
    }

    @include sp {
      margin-top: -1em;
    }
  }
}

.blogDetail {
  h1 {
    line-height: 1.1;
    color: $neutral-900;

    @include tablet {
      font-size: 62px;
    }
  }

  span {
    text-decoration: none !important;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  a {
    &:link,
    &:visited,
    &:active {
      color: $green-500 !important;
      text-decoration: none;
    }
  }

  mark {
    color: inherit !important;
  }

  p,
  ol,
  ul {
    font-size: 16px;
    line-height: 1.5;
    color: $neutral-700;

    @include tablet-down {
      font-size: 14px;
    }
  }

  figure {
    margin-block: 64px;
    margin-inline: -104px;

    @include tablet-down {
      margin-block: 32px;
      margin-inline: -40px;
    }

    @include sp {
      margin-block: 24px;
      margin-inline: -16px;
    }

    & > img {
      width: 991px;
      height: auto;

      @include tablet-down {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  :global {
    h1.wp-block-heading {
      margin-bottom: 16px;
      font-size: 24px;

      @include tablet-down {
        font-size: 20px;
      }

      @include sp {
        font-size: 18px;
      }
    }
  }

  &_mainContent {
    margin-top: 24px;
    margin-bottom: 64px;

    p:first-child {
      text-align: center;
    }

    @include tablet-down {
      margin-top: 18px;
      margin-bottom: 48px;
    }
  }

  &_suggestList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 32px;
    margin-top: -40px;

    @include tablet-down {
      margin-top: -56px;
    }

    @include sp {
      column-gap: 16px;
    }
  }

  &_suggestItem {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include tablet-down {
      row-gap: 18px;
    }

    @include sp {
      row-gap: 14px;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    img {
      object-fit: cover;

      @include tablet-down {
        width: 328px;
      }

      @include sp {
        width: 190px;
      }
    }
  }

  &_author {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    color: $neutral-600;

    @include tablet-down {
      font-size: 16px;
    }
  }

  &_suggestItemTitle {
    font-size: 24px;

    @include sp {
      font-size: 18px;
    }
  }

  &_sharingButtons {
    @include sp-up {
      margin-left: auto;
    }
  }

  &_sharingButton {
    min-width: 48px !important;
    height: 48px;
    border: 2px solid $neutral-300 !important;
    border-radius: 24px !important;
  }

  &_sharing {
    display: flex;
    column-gap: 64px;
    align-items: start;
    margin-top: 64px;

    @include tablet-down {
      column-gap: 32px;
      margin-top: 48px;
    }

    @include sp {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &_body {
    @include container-tablet;
  }
}
