.alert {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
  font-size: 14px;
  font-weight: 600;
  color: $neutral-0;
  background-color: $neutral-900;
}
